gray-5 = #555
gray-1 = #777
gray-a = #aaa
gray-c = #ccc
gray-e = #eee

html
body
    width 100%
    height 100%

body
    background-color gray-5
    position relative

.header
    background-color-black

