grey-5 = #555
grey-7 = #777
grey-a = #aaa
grey-c = #ccc
grey-e = #eee

html
body
  width 100%
  height 100%
  font-family sans-serif

body
  margin 0
  padding 0
  background-color grey-5

#root
  margin 40px auto
  width 1024px
  height 768px
  background-color grey-7

.decks-frame
  background-color grey-a

.decks-canvas
  background-color grey-c

.decks-item
  background-color grey-e
  //box-shadow 0px 0px 10px 2px rgba(0,0,0,0.75)
  img
    width 100%
    height 100%

.controls
  position absolute
  top 10px
  left 10px
  span
    color white

