body {
  background-color: #ddd;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
  background-color: #bbb;
}

.scroller-level1 {
  background-color: #999;
}

.scroller-level2 {
  background-color: #777;
}

